html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
    background-color: #353432;
}

h4 {
    color: white;
    border-bottom:solid 2px;
    border-color: white;
    margin-bottom: 10px;
    padding-bottom: 15px;
    width:100%;
}

.sidebar {
    width: 340px;
    min-height: 100vh;
    background-color: #353432;
    color: #353432;
    position: fixed;
    left: 0;
    top: 0;

}

.sidebar-header {
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #1f1f1f;
}

    .sidebar-header span {
        color: #0d6efd; 
        font-size: 14px;
        font-weight: 400;
    }

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .sidebar-menu li {
        width: 94%;
        margin-right: 3%;
        margin-left: 3%;
    }

    .sidebar-menu a {
        display: block;
        padding: 14px 20px;
        color: white;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        border-left: solid 5px;
        border-color: #6495ED;
        background-color: #4e4d4a;
        font-size: 20px;
        border-radius: 6px;
        gap: 5px;
        margin-top: 5px;
    }

        .sidebar-menu a:hover {
            background-color: #363532 !important;
        }

        .sidebar-menu a.active {
            background-color: #4e4d4a;
            color: white;
            font-weight: 500;
        }



.main-content {
    width: 100%;
    height: 98vh;
    background-color: #f8f9fa;
    margin: 1vh 1vh 1vh 350px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}





